/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.language_panel {
		margin-left: 0;
	}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.menu li a {
		letter-spacing: 0;
		padding: 12px 12px;
	}
}

@media only screen and (max-width : 651px) {
	.menu li a	 {
		padding: 0 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 650px) {
	.menu li {
		float: none;
	}
	.icons img {
		width: 40px;
	}
	.icons h4 {
		font-size: 14px;
	}
	.icons p {
		font-size: 14px;
	}
	.icons .safari { 
		margin-top: -5px;
	}	

	.icons .firefox {
		margin-top: -2px;
	}
}

@media only screen and (max-width : 500px) {
	.nav>li>a {
		padding: 4px 4px;
	}
	.nav-tabs img {
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 350px) {
	div .icons {
		float: left;
	}
	.icons h4 {
		font-size: 14px;
	}
}

