header, section, footer, aside, nav, main, article, figure 
	display: block

body
	font-family: 'Roboto'

h1, h2, h3, h4, h5, h6
	letter-spacing: 0.5px

h1
	font-size: 30px

h2 
	font-size: 24px

.box-1 
	background-color: #ffffff
.box-2
	background-color: #f8f8f8


/*Header*/
.top-line 
	height: 100px
	background: #515355 
	background: -webkit-linear-gradient(#515355, #080909) 
	background: -o-linear-gradient(#515355, #080909) 
	background: -moz-linear-gradient(#515355, #080909) 
	background: linear-gradient(#515355, #080909) 	



.navigation 
	padding-left: 0
	padding-right: 0
	width: auto
	position: relative
	top: -40px

.menu 
	list-style-type: none
	margin: 
	padding: 
	background-color: #3c4042
	overflow: hidden
	border-radius: 4px
	-webkit-padding-start: 0
	-moz-padding-start: 0
    width: auto
	li
		display: inline
		border-right: 1px solid #484c4e
		float: left
	
.menu li:last-child 
    border-right: none

.menu li a	
	display: block
	color: white
	text-align: center
	padding: 14px 16px
	text-decoration: none
	font-size: 14px
	letter-spacing: 0.6px

.menu li a:hover:not(.active) 
	background-color: #343739
	border-top: 3px solid #f26c4f

.menu .active 
	background-color: #343739
	border-bottom: 3px solid #acd373



.language_panel
	position: relative
	top: -25px
	margin-left: 20px

/*End of header*/

/*Main*/

.title
	margin-top: 0
	padding-left: 15px


.text 
	padding-right: 0

.second .text 
	margin-top: 18px

.note 
	border: 2px solid #eac560
	color: #747474
	padding:
		top: 10px
		right: 5px
		bottom: 10px
		left: 10px
	position: relative
	left: -10px	



.main aside
	margin-top: 35px

.nav-tabs
	border-bottom: none
	margin-top: -2px
																								 
.nav-tabs>li.active>a, .nav-tabs>li>a:hover, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:visited 
	background-color: #f9f9f9

.nav-tabs img
	-webkit-filter: grayscale(1)  
	filter: gray
	filter: grayscale(1)

.nav-tabs .active img
	-webkit-filter: grayscale(0)
	filter: gray
	filter: grayscale(0)

.tab-content 
	border: 1px solid #ddd
	border-radius: 0 6px 6px 6px
	box-shadow: 1px 1px 1px #cfcfcf
	background-color: #f9f9f9

.tab-pane li
	padding-top: 20px
	font-family: 'Arial' 

/*End of main*/


/*Updates*/
.updates 
	margin-top: 50px
	p 
		margin-top: 30px	

.icons 
	margin-top: 50px
	img
		width: auto
		display: block
		margin: 0 auto
	a
		text-decoration: underline	
	h4
		text-align: center
		margin-bottom: 3px
	p
		text-align: center
		color: #747474
		font-size: 16px
		margin-top: 0

.icons .safari 
	margin-top: -7px

.icons .firefox
	margin-top: -4px


.note-2 p 
	color: #747474



.advices
	margin-top: 30px

/*End of updates*/

.email
	margin-top: 30px
	margin-bottom: 30px


footer
	height: 60px
	background: #161818 
	color: #dedede
	p
		padding-top: 20px

